<a href="https://colab.research.google.com/github/100477706/Proyecto_Aprendizaje/blob/main/predicciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **1. CARGA DE DATOS**

Mediante este apartado realizamos la carga de datos al Google Collab teniendo en cuenta que en cada ingreso a la aplicaci√≥n se debe realizar la carga del dataset.

En este apartado se descomprime el archivo que se ha subido y se muestran los datos por pantalla.

In [ ]:
!ls

attrition_availabledata_06.csv.gz  sample_data

In [ ]:
import pandas as pd
pd.read_csv("attrition_availabledata_06.csv.gz", compression="gzip", sep=",") #subir el archivo comprimido

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,BusinessTravel,Department,...,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager,Attrition
0,5.896431,5,3,3,2.0,4.0,3.0,33,Travel_Rarely,Research & Development,...,Y,13,8,0,6.0,3,5,1,4,No
1,6.114877,19,3,3,3.0,3.0,3.0,20,Travel_Rarely,Research & Development,...,Y,13,8,1,2.0,2,2,2,2,No
2,6.396730,11,3,3,1.0,4.0,4.0,46,Travel_Rarely,Research & Development,...,Y,11,8,1,28.0,2,7,4,3,Yes
3,5.722452,22,4,3,1.0,1.0,4.0,40,Travel_Rarely,Sales,...,Y,13,8,1,9.0,2,8,7,1,No
4,5.663001,21,3,3,4.0,4.0,3.0,38,Travel_Frequently,Research & Development,...,Y,17,8,3,10.0,2,10,9,9,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2935,5.550183,18,3,3,2.0,2.0,3.0,32,Non-Travel,Research & Development,...,Y,11,8,1,12.0,2,7,0,7,No
2936,6.976802,21,3,4,3.0,4.0,2.0,51,Travel_Rarely,Research & Development,...,Y,22,8,1,18.0,2,7,0,7,No
2937,10.092581,12,3,3,3.0,4.0,3.0,28,Travel_Frequently,Sales,...,Y,11,8,0,7.0,3,7,0,7,No
2938,8.333744,18,2,3,2.0,4.0,3.0,24,Travel_Rarely,Sales,...,Y,15,8,2,6.0,2,6,1,4,No
2939,6.833922,9,1,3,4.0,2.0,2.0,29,Travel_Frequently,Research & Development,...,Y,18,8,0,8.0,2,7,1,1,No

# **2. EDA**

En este apartado vamos a llevar a cabo Exploratory Data Analysis (EDA), el cual nos va a ayudar a entender el conjunto de datos antes de aplicar cualquier modelo o hip√≥tesis de prueba. El EDA nos va a permitir establecer las tendencias, correlaciones y anomal√≠as que se pueden encontar en los datos. Con este tipo de an√°lisis podemos determinar cu√°l son los m√©todos a implementar y cu√°les son las features indicadas a utilizar y que den una informaci√≥n relevante al momento de evaluar el modelo a desarrollar.

A continuaci√≥n mostramos el contenido del archivo para verificar la cantidad de filas y columnas que tenemos, donde adicionalmente queremos verificar el tipo de datos que tenemos en nuestra base de datos. Para ello mostramos la informaci√≥n referente al contenido de la tabla.

In [ ]:
# Informaci√≥n general del dataset
print("\nInformaci√≥n del dataset:")
df.info()

Informaci√≥n del dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2940 entries, 0 to 2939
Data columns (total 31 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   hrs                      2940 non-null   float64
 1   absences                 2940 non-null   int64
 2   JobInvolvement           2940 non-null   int64
 3   PerformanceRating        2940 non-null   int64
 4   EnvironmentSatisfaction  2921 non-null   float64
 5   JobSatisfaction          2928 non-null   float64
 6   WorkLifeBalance          2913 non-null   float64
 7   Age                      2940 non-null   int64
 8   BusinessTravel           2940 non-null   object
 9   Department               2940 non-null   object
 10  DistanceFromHome         2940 non-null   int64
 11  Education                2940 non-null   int64
 12  EducationField           2940 non-null   object
 13  EmployeeCount            2940 non-null   int64
 14  EmployeeID               2940 non-null   int64
 15  Gender                   2940 non-null   object
 16  JobLevel                 2940 non-null   int64
 17  JobRole                  2940 non-null   object
 18  MaritalStatus            2940 non-null   object
 19  MonthlyIncome            2940 non-null   int64
 20  NumCompaniesWorked       2926 non-null   float64
 21  Over18                   2940 non-null   object
 22  PercentSalaryHike        2940 non-null   int64
 23  StandardHours            2940 non-null   int64
 24  StockOptionLevel         2940 non-null   int64
 25  TotalWorkingYears        2936 non-null   float64
 26  TrainingTimesLastYear    2940 non-null   int64
 27  YearsAtCompany           2940 non-null   int64
 28  YearsSinceLastPromotion  2940 non-null   int64
 29  YearsWithCurrManager     2940 non-null   int64
 30  Attrition                2940 non-null   object
dtypes: float64(6), int64(17), object(8)
memory usage: 712.2+ KB

A continuaci√≥n utilizamos la funci√≥n de descripci√≥n del dataset para que por cada una de las features (Columnas), podamos obtener valores estad√≠sticos que nos permiten describir la funci√≥n sabiendo los valores medios, la desviaci√≥n y el c√≥mo se distribuye los datos por cada feature. Adicionalmente es √∫til para el Exploratory Data Analysis (EDA), ya que nos ayuda a comprender las caracter√≠sticas de los datos antes de implementar el modelo.

In [ ]:
# Informaci√≥n total del dataset
print("\nContenido del Dataset:")
df.describe()

Contenido del Dataset:

,hrs,absences,JobInvolvement,PerformanceRating,EnvironmentSatisfaction,JobSatisfaction,WorkLifeBalance,Age,DistanceFromHome,Education,...,MonthlyIncome,NumCompaniesWorked,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
count,2940.000000,2940.000000,2940.000000,2940.000000,2921.000000,2928.000000,2913.000000,2940.000000,2940.000000,2940.000000,...,2940.000000,2926.000000,2940.000000,2940.0,2940.000000,2936.000000,2940.000000,2940.000000,2940.000000,2940.000000
mean,7.311828,12.688095,2.734014,3.156463,2.716878,2.705601,2.766564,36.959864,9.271088,2.909864,...,64855.948980,2.713260,15.256463,8.0,0.803741,11.469005,2.789456,7.042177,2.215986,4.117347
std,1.340066,5.494808,0.714883,0.363355,1.090252,1.098222,0.703519,9.137364,8.113162,1.024888,...,46800.380469,2.493371,3.652041,0.0,0.858827,7.837689,1.279125,6.125843,3.269241,3.563764
min,5.416880,1.000000,1.000000,3.000000,1.000000,1.000000,1.000000,18.000000,1.000000,1.000000,...,10090.000000,0.000000,11.000000,8.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,6.262869,8.000000,2.000000,3.000000,2.000000,2.000000,2.000000,30.000000,2.000000,2.000000,...,29405.000000,1.000000,12.000000,8.0,0.000000,6.000000,2.000000,3.000000,0.000000,2.000000
50%,6.997414,13.000000,3.000000,3.000000,3.000000,3.000000,3.000000,36.000000,7.000000,3.000000,...,49070.000000,2.000000,14.000000,8.0,1.000000,10.000000,3.000000,5.000000,1.000000,3.000000
75%,7.896439,17.000000,3.000000,3.000000,4.000000,4.000000,3.000000,43.000000,14.000000,4.000000,...,82240.000000,4.000000,18.000000,8.0,1.000000,16.000000,3.000000,10.000000,3.000000,7.000000
max,10.937261,24.000000,4.000000,4.000000,4.000000,4.000000,4.000000,60.000000,29.000000,5.000000,...,199990.000000,9.000000,25.000000,8.0,3.000000,40.000000,6.000000,40.000000,15.000000,17.000000